* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header-section {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.34), rgba(4, 9, 30, 0.34)),
    url(https://i.ibb.co/hK3JRGY/background.jpg);

  /* https://i.ibb.co/hK3JRGY/background.jpg*/

  /* url(https://i.ibb.co/JyLNJtT/camilo-botia-k4v-FDPJo-DZk-unsplash.jpg) */
  background-position: 7% 80%;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}

nav img {
  margin-top: -2.2rem;
  width: 12rem;
  height: auto;
}

/* linear-gradient(
    rgba(4, 9, 30, 0.7),
    rgba(4, 9, 30, 0.7), */

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  list-style-type: none;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 0.13rem;
  background: #e84035;
  margin: auto;
  display: block;
  transition: 0.4s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

.hero-content {
  position: absolute;
  color: #fff;
  width: 80%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hero-content h1 {
  font-size: 4rem;
}

.hero-content p {
  margin: 0.6rem 0 3rem;
  font-size: 0.9rem;
  columns: #fff;
  font-weight: 300;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.8rem 2rem;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.hero-btn:hover {
  border: 1px solid #e84035;
  background: #e84035;
  transition: 1s;
}

@media (max-width: 700px) {
  nav img {
    margin-top: -0.3rem;
    width: 10rem;
    height: auto;
  }

  .hero-content h1 {
    font-size: 1.6rem;
  }

  .hero-content p {
    font-size: 0.7rem;
  }

  .nav-links {
    position: absolute;
    background-color: #e84035;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul li {
    display: block;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 0.6rem;
    font-size: 1.35rem;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 2rem;
  }
}

/* Common Styles */

section h1 {
  font-size: 36px;
  font-weight: 600;
}

section p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/* Course Section */
.course-section {
  margin: auto;
  width: 80%;
  text-align: center;
  padding-top: 6rem;
}

.course-section .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-section .row .course-column {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.6s;
}

.course-section .row .course-column h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-column:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Campus Section */
.campus-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-section .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.campus-column {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-column img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  bottom: 0;
  left: 50%;
  text-transform: uppercase;
  transform: translateX(-50%);
  position: absolute;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

@media (max-width: 700px) {
  .campus-section .row {
    flex-direction: column;
  }

  .layer h3 {
    font-size: 18px;
    font-weight: 500;
  }
}

/* Facilities Section */

.facilities-section {
  width: 80%;
  margin: auto;
  text-align: center;
  text-align: center;
  padding-top: 100px;
}

.facilities-section .row {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.facilities-column {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-column img {
  width: 100%;
  border-radius: 10px;
}

.facilities-column p {
  padding: 0;
}

.facilities-column h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* Testimonials Section */

.testimonials-section {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonials-section .row {
  display: flex;
  justify-content: space-between;
}

.testimonials-column {
  display: flex;
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background-color: #fff3f3;
  padding: 25px;
  cursor: pointer;
}

.testimonials-column img {
  height: 80px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonials-column p {
  padding: 0;
}

.testimonials-column h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonials-column .fa-solid,
.fa-regular {
  color: #f44336;
}

@media (max-width: 700px) {
  .testimonials-section .row {
    display: flex;
  }

  .testimonials-column {
    margin: 0px;
    margin-right: 15px;
  }
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwMDY2NDMwMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* Footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.footer .icon .fa-brands {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
